@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&display=swap');
body {
  width: 100vw;
  height: 100vh;
  background-image : url("https://cdn.discordapp.com/attachments/809327225672826880/1042527993379172472/splash-bg_1.png");
  background-size : auto ;
  background-repeat: no-repeat ;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  font-family: 'Baloo Thambi 2', cursive;
}

.container {
  background-image : url("https://cdn.discordapp.com/attachments/809327225672826880/1042526428006199326/Mask_group.png");
  background-size : auto ;
  background-repeat: no-repeat ; 
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.back-icon {
  position: fixed;
  top: 40px;
  left: 40px;
  cursor: pointer;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countdown-border {
  width: 450px;
  height: 300px;
  background-color: #69AEFF;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.countdown-number {
  color: white;
  font-size: 156px;
  font-weight: 800;
}

.input-form {
  position: relative;
}

input {
  font-family: 'Baloo Thambi 2', cursive;
  position: absolute;
  border: none;
  width: 400px;
  height: 50px;
  margin: 25px 0 0 50px;
  font-size: 48px;
  text-align: center;
  outline: none;
  color: #2E527C;
  font-weight: 800;
}