<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="player.css" />
  </head>

  <body>
    <header class="container">
      <a href="../../index.html">
        <div class="back-icon">
          <img
            src="https://cdn.discordapp.com/attachments/809327225672826880/1042515338635513856/Group_20.png"
            alt=""
            style="width: 90px"
          />
        </div>
        <div class="sitting-botton">
          <a href="../setting/setting.html">
            <img
              src="https://cdn.discordapp.com/attachments/1018570046534074389/1042306931374702592/image.png"
              alt=""
              style="width: 90px"
          /></a>
        </div>
      </a>
      <div class="content">
        <div>
          <img
            src="https://cdn.discordapp.com/attachments/809327225672826880/1042535019845009559/Add_Player_Name.png"
            alt=""
            style="width: 500px"
          />
        </div>
        <div class="input-form">
          <img
            src="https://cdn.discordapp.com/attachments/809327225672826880/1042536273925124176/Group_21.png"
            alt=""
            style="width: 500px; position: absolute"
          />
          <input type="text" />
        </div>
      </div>
      <div class="play-button">
        <a href="countdown.html">
          <img
            src="https://cdn.discordapp.com/attachments/809327225672826880/1042537425404170251/Group_5.png"
            alt=""
            style="width: 120px"
          />
        </a>
      </div>
    </header>
  </body>
</html>
