<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <title>Document</title> -->
  <link rel="stylesheet" href="howtoplay.css" />
</head>

<body>
  <header class="container">
    <a href="../../index.html">
      <div class="back-icon">
        <img src="https://cdn.discordapp.com/attachments/809327225672826880/1042515338635513856/Group_20.png" alt=""
          style="width: 90px;">
      </div>
    </a>
    <div class="header">
      <img src="https://cdn.discordapp.com/attachments/809327225672826880/1042532591628202135/How_to_play_1.png" alt=""
        style="width: 350px;">
    </div>
    <div class="content">
      <div>1. need 2 players</div>
      <div>2. open the camera</div>
      <div>3. take the picture of your hand</div>
    </div>
  </header>
</body>

</html>